<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                Válasszon géptermet
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <select name="asd" class="form-control-lg" v-model="room">
                        <option value="gepterem1">1. gépterem</option>
                        <option value="gepterem2">2. gépterem</option>
                        <option value="gepterem3">3. gépterem</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-check" v-for="(computer,index) in selectedRoom">
                    <input class="form-check-input" type="checkbox" value="1" v-bind:id="computer.ip">
                    <label class="form-check-label" v-bind:for="computer.ip">
                        {{ computer.ip }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "RoomComponent",
    props: [],
    data: function(){
        return {
            room: null,
            selectedRoom: null,
            rooms: {
                'gepterem1': {
                    '1': {
                        "ip":'192.168.0.1',
                    },
                    '2': {
                        "ip": '192.168.0.2',
                    },
                    '3': {
                        "ip":'192.168.0.3',
                    },
                    '4': {
                        "ip":'192.168.0.4',
                    },
                    '5': {
                        "ip":'192.168.0.5'
                    }
                },
                'gepterem2': {
                    '1': '192.168.1.1',
                    '2': '192.168.1.2',
                    '3': '192.168.1.3',
                    '4': '192.168.1.4',
                    '5': '192.168.1.5'
                }
            }
        }
    },
    watch: {
        room: function () {
            this.selectedRoom = this.rooms[this.room];
        }
    },
    mounted() {

    },
    methods: {

    }
}
</script>
<style>

</style>
